<nav [ngStyle]="{'padding-bottom': rotateArrow ? '61px' : '20px'}">
    <svg (click)="onBack()" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg>
    <span id="sort" (click)="sortClick()">
        Sort
        <!-- <img [ngStyle]="{'transform': rotateArrow ? 'rotateZ(90deg)' : 'rotateZ(-90deg)'}"
         src="../../../../../assets/icons8-back-50.png"> -->
        <svg [ngStyle]="{'transform': rotateArrow ? 'rotateZ(90deg)' : 'rotateZ(-90deg)'}" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg>
    </span>
</nav>
<div class="sort" [ngStyle]="{'visibility': rotateArrow ? 'visible' : 'hidden'}">
    <span (click)="namedownClicked()" id="name" [ngStyle]="{'color': namedown ? 'white' : 'rgb(60,60,60)',
    'background-color': namedown ? '#1C4CB2' : 'white'}">
        NAME
        <img *ngIf="!namedown" id="next" src="../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
        <img *ngIf="namedown" id="next" src="../../../assets/bold_arrow_Lobe.svg" [ngStyle]="{'opacity': '1'}" alt="" style="transform: rotateZ(-90deg);">
    </span>
    <span (click)="nameupClicked()" id="name" [ngStyle]="{'color': nameup ? 'white' : 'rgb(60,60,60)',
    'background-color': nameup ? '#1C4CB2' : 'white'}">
        NAME
        <img *ngIf="!nameup" id="next" src="../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(90deg);">
        <img *ngIf="nameup" id="next" src="../../../assets/bold_arrow_Lobe.svg" [ngStyle]="{'opacity': '1'}" alt="" style="transform: rotateZ(90deg);">
    </span>
    <span (click)="citydownClicked()" id="name" [ngStyle]="{'color': citydown ? 'white' : 'rgb(60,60,60)',
    'background-color': citydown ? '#1C4CB2' : 'white'}">
        CITY
        <img *ngIf="!citydown" id="next" src="../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
        <img *ngIf="citydown" id="next" src="../../../assets/bold_arrow_Lobe.svg" [ngStyle]="{'opacity': '1'}" alt="" style="transform: rotateZ(-90deg);">
    </span>
    <span (click)="cityupClicked()" id="name" [ngStyle]="{'color': cityup ? 'white' : 'rgb(60,60,60)',
    'background-color': cityup ? '#1C4CB2' : 'white'}">
        CITY
        <img *ngIf="!cityup" id="next" src="../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(90deg);">
        <img *ngIf="cityup" id="next" src="../../../assets/bold_arrow_Lobe.svg" [ngStyle]="{'opacity': '1'}" alt="" style="transform: rotateZ(90deg);">
    </span>
</div>