<header>
    <div (click)="goBack()" class="back">
        <svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg>
    </div>
    <span>Edit Car</span>
</header>
<main *ngIf="isOk">
    <div *ngIf="car.imageUrl" class="image" [ngStyle]="{'background': 'url(' + car.imageUrl + ') no-repeat center / cover'}">
        <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
        <div class="editButton" (click)="fileInput.click()">
            <img src="../../../../../assets/edit_white.svg" alt="">
        </div>
    </div>
    <div *ngIf="!car.imageUrl" class="image">
        <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
        <div class="editButton" (click)="fileInput.click()">
            <img src="../../../../../assets/edit_white.svg" alt="">
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="brand">
            <p>Brand:</p>
            <input [ngClass]="{'error-input': (form.controls.brand.touched || errorBrand) && form.controls.brand.invalid}"
            formControlName="brand" type="text">
            <div class="error" *ngIf="(form.controls.brand.touched || errorBrand) && form.controls.brand.invalid">
                Brand name is required!
            </div>
        </div>
        <div class="model">
            <p>Model:</p>
            <input [ngClass]="{'error-input': (form.controls.model.touched || errorModel) && form.controls.model.invalid}"
            formControlName="model" type="text">
            <div class="error" *ngIf="(form.controls.model.touched || errorModel) && form.controls.model.invalid">
                Car model is required!
            </div>
        </div>
        <div class="year">
            <p>Year:</p>
            <input [ngClass]="{'error-input': (form.controls.year.touched || errorYear) && form.controls.year.invalid}"
            formControlName="year" type="text">
            <div class="error" *ngIf="(form.controls.year.touched || errorYear) && form.controls.year.errors?.required">
                Year of manufacture is required!
            </div>
            <div class="error" *ngIf="form.controls.year.errors?.pattern && (form.controls.year.touched || form.controls.year.dirty || errorYear)">
                Must be a number!
            </div>
        </div>
        <div class="numberOfSeats">
            <p>Number of seats</p>
            <span>This is mandatory</span>
            <button type="button" [ngClass]="{'disabled': minusDisabled}" class="minusBtn" [disabled]="minusDisabled" (click)="onMinus()">
                <svg [ngStyle]="{'fill': minusDisabled ? 'rgb(234, 234, 234)' : 'rgb(113, 113, 113)'}" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 22px; width: 22px; display: block;"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
            </button>
            <p id="numberOfSeats">{{numberOfSeats}}</p>
            <button type="button" [ngClass]="{'disabled': plusDisabled}" [disabled]="plusDisabled" class="plusBtn" (click)="onPlus()">
                <svg [ngStyle]="{'fill': plusDisabled ? 'rgb(234, 234, 234)' : 'rgb(113, 113, 113)'}" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 22px; width: 22px; display: block; fill: rgb(113, 113, 113);"><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
            </button>
        </div>
        <div class="pricePerDay">
            <p>Price per day</p>
            <span>Maximum price</span>
            <div class="input-box">
                <input [ngClass]="{'error-input': (form.controls.price.touched || errorPrice) && form.controls.price.invalid}"
                type="number" min="1" formControlName="price">
                <span class="dollar">$</span>
            </div>
        </div>
        <div [ngClass]="{droppedDown: dropdown}" (click)="toggleDropDown()" class="carType">
            <p>{{pickedCarType}}<svg [ngStyle]="{'transform': !dropdown ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'}" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 16px; width: 16px; display: inline-block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg></p>
        </div>
        <div *ngIf="dropdown" class="dropdown">
            <p [ngClass]="{pickedCarType: pickedCarType === 'Mini'}" (click)="setCarType('Mini')">Mini</p>
            <p [ngClass]="{pickedCarType: pickedCarType === 'SUV'}" (click)="setCarType('SUV')">SUV</p>
            <p [ngClass]="{pickedCarType: pickedCarType === 'Luxury'}" (click)="setCarType('Luxury')">Luxury</p>
            <p [ngClass]="{pickedCarType: pickedCarType === 'Standard'}" (click)="setCarType('Standard')">Standard</p>
            <p [ngClass]="{pickedCarType: pickedCarType === 'Convertable'}" (click)="setCarType('Convertable')">Convertable</p>
            <p [ngClass]="{pickedCarType: pickedCarType === 'Minivan'}" (click)="setCarType('Minivan')">Minivan</p>
        </div>
        <div class="buttons">
            <button type="button" id="delete" (click)="onDelete()">Delete car</button>
            <button type="submit" id="confirm">Confirm</button>
        </div>
    </form>
</main>
