@import './../../../../app.component.scss';

* {
  box-sizing: border-box;
}

.container {
    display: grid;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 15px 20px;
    box-shadow: $smallest-shadow;
    // grid-template-columns: 80px 170px;
    // grid-template-rows: 30px 40px;
    grid-template-columns: 80px auto 100px 90px;
    grid-template-rows: auto 30px 40px auto;
    grid-template-areas: "unread expires expires expires"
                         "image name name name"
                         "image text text text"
                         "none none delete read";

    #note {
        grid-area: unread;
        width: 70px;
        text-align: center;
        margin-bottom: 10px;
        color: $blue;
        font-weight: bold;
        font-family: 'Roboto';
    }

    .expires {
        grid-area: expires;
        text-align: right;

        img {
            height: 16px;
            width: 16px;
            filter: opacity(.7);
            vertical-align: bottom;
            margin-bottom: 3px;
            margin-right: 4px;
        }

        span {
            line-height: 20px;
            font-size: 16px;
            color: rgb(80, 80, 80);
            font-weight: bold;
        }
    }

    .image {
        grid-area: image;
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url('../../../../../assets/friend2.jpeg');
        background-size: cover;
        background-position: 50% 10%;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid white;
    }

    #name {
        grid-area: name;
        align-self: end;
        font-size: 16px;
        font-weight: bold;
        color: rgb(34, 34, 34);
        line-height: 20px;
        max-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .text {
        grid-area: text;
        line-height: 16.5px;
        max-height: 33px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        #text {
            font-size: 14px;
            font-family: 'Roboto';
            color: rgb(119, 119, 119);
        }
    
    }
    button {
        width: 90px;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 15px;
        padding: .5em;
    }

    :focus {
        outline: none;
    }

    #delete {
        grid-area: delete;
        background: $error-background;
        color: $error;
        border: 1px solid $error;
        box-shadow: $smallest-shadow;
    }

    #read {
        grid-area: read;
        color: white;
        background-color: $blue;
        box-shadow: $gray-shadow;
    }
}

.unread {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    #note {
        color: $error;
    }

    .expires {

        img {
            filter: opacity(.8);
        }

        span {
            color: rgb(34, 34, 34);
        }
    }

    .image {
        border: 2px solid $blue;
    }

    #name {
        color: $blue;
    }
}