<div class="content">
    <img src="../../../../assets/illustrations/undraw_personal_site_xyd1.svg">
    <button routerLink="/rac-admin/{{adminId}}/rac-profile">My service</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_fast_car_p4cu.svg">
    <button routerLink="/rac-admin/{{adminId}}/cars">My cars</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_progress_data_4ebj.svg">
    <button routerLink="/rac-admin/{{adminId}}/stats">Statistics</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_Destination_6jtj.svg">
    <button routerLink="/rac-admin/{{adminId}}/branches">My branches</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_discount_d4bd.svg">
    <button routerLink="/rac-admin/{{adminId}}/special-car-offers">Special offers</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_profile_pic_ic5t.svg">
    <button routerLink="/rac-admin/{{adminId}}/profile/edit-profile">Edit profile</button>
</div>
