<header [ngClass]="{blur: showModal}">
    <div (click)="goBack()" class="back">
        <svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg>
    </div>
    <span>Special offers</span>
</header>
<main [ngClass]="{blur: showModal}" *ngIf="itsOk">
    <h3 style="margin-top: 60px; color: rgb(36, 36, 36)" *ngIf="noOffers">
        There is no special offers at the moment! :-(
    </h3>
    <ul>
        <li *ngFor="let specialOffer of specialOffers">
            <div class="specialOffer">
                <div class="price">
                    <span>Old price: ${{specialOffer.oldPrice}}</span>
                    <p id="price">${{specialOffer.newPrice}}</p>
                </div>
                <p>Special offer</p>
            </div>
            <app-car [fromDate]="specialOffer.fromDate" [toDate]="specialOffer.toDate" [car]="specialOffer" [spec]="true"></app-car>
            <!-- <div class="specialOffer">
                <p>from: {{specialOffer.fromDate}}</p>
                <p>to: {{specialOffer.toDate}}</p>
            </div> -->
            <div class="book">
                <a (click)='viewDeal(specialOffer.id)'>BOOK NOW!</a>
            </div>
        </li>
    </ul>
</main>
<app-modal *ngIf="showModal" [type]="'bookError'" (remove)="onModal($event)"></app-modal>