<div
  [ngStyle]="{
    visibility: scrolled ? 'visible' : 'hidden',
    opacity: scrolled ? '1' : '0',
    'grid-template-columns':
      userId !== undefined && decoded.Roles === 'RegularUser'
        ? '33% 33% 33%'
        : userId !== undefined && decoded.Roles !== 'RegularUser'
        ? '100%'
        : 'none'
  }"
  class="bottom-menu-div"
>
  <div *ngIf="userId !== undefined && decoded.Roles === 'RegularUser'">
    <a href="#" routerLink="/{{ userId }}/chats">
      <img src="../../../../assets/bottom-menu/message.svg" alt="" />
      <p>Chats</p>
    </a>
  </div>
  <div *ngIf="userId !== undefined && decoded.Roles === 'RegularUser'">
    <a href="#" routerLink="/{{ userId }}/messages">
      <img src="../../../../assets/request.png" alt="" />
      <p>Requests</p>
    </a>
  </div>
  <div *ngIf="userId !== undefined">
    <a href="#" routerLink="/{{ userId }}/profile">
      <div class="image"></div>
      <p>Profile</p>
    </a>
  </div>
</div>
