<main *ngIf="isOk" [ngClass]="{'blur': blur}">
    <div class="cabin">

    </div>
    <div class="class">
        <h3>First class</h3>
        <div class="container">
            <ul class="left">
                <!-- <li *ngFor="let seat of (flight.seats | seatPlacement:'left':'F'); let i = index">
                    <div [ngStyle]="{'background-color': seat.available ? '#ff3d3d': seat.available ? '#8795fa ' : '#bebebe'}" (click)='book(seat)' class="seat">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                </li> -->
                <li *ngFor="let seat of (firstClassSeats | seatPlacement:'left':'F'); let i = index">
                    <div *ngIf="seat !== 'left' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-f">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'left'" class="seat">
                    </div>
                </li>
            </ul>
            <ul class="right">
                <!-- <li *ngFor="let seat of (flight.seats | seatPlacement:'right':'F'); let i = index">
                    <div [ngStyle]="{'background-color': seat.available ? '#ff3d3d': seat.available ? '#8795fa' : '#bebebe'}" (click)='book(seat)' class="seat">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                </li> -->
                <li *ngFor="let seat of (firstClassSeats | seatPlacement:'right':'F'); let i = index">
                    <div *ngIf="seat !== 'right' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-f">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'right'" class="seat">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="class">
        <h3>Business</h3>
        <div class="container">
            <ul class="left">
                <li *ngFor="let seat of (businessSeats | seatPlacement:'left':'B'); let i = index">
                    <div *ngIf="seat !== 'left' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-b">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'left'" class="seat">
                    </div>
                </li>
            </ul>
            <ul class="right">
                <li *ngFor="let seat of (businessSeats | seatPlacement:'right':'B'); let i = index">
                    <div *ngIf="seat !== 'right' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-b">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'right'" class="seat">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="class">
        <h3>Economy</h3>
        <div class="container">
            <ul class="left">
                <li *ngFor="let seat of (economySeats | seatPlacement:'left':'E'); let i = index">
                    <div *ngIf="seat !== 'left' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-e">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'left'" class="seat">
                    </div>
                </li>
            </ul>
            <ul class="right">
                <li *ngFor="let seat of (economySeats | seatPlacement:'right':'E'); let i = index">
                    <div *ngIf="seat !== 'right' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-e">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'right'" class="seat">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="class">
        <h3>Basic Economy</h3>
        <div class="container">
            <ul class="left">
                <li *ngFor="let seat of (basicEconomySeats | seatPlacement:'left':'BE'); let i = index">
                    <div *ngIf="seat !== 'left' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-be">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'left' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'left'" class="seat">
                    </div>
                </li>
            </ul>
            <ul class="right">
                <li *ngFor="let seat of (basicEconomySeats | seatPlacement:'right':'BE'); let i = index">
                    <div *ngIf="seat !== 'right' && seat.available && !modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price not-reserved-be">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && modifiedSeats.includes(seat.seatId)" (click)='book(seat)' class="seat-with-price my-seat">
                        <span>${{seat.price}}</span>
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat !== 'right' && !seat.available" class="seat reserved">
                        <p>{{seat.column}}{{seat.row}}</p>
                    </div>
                    <div *ngIf="seat === 'right'" class="seat">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
