<header>
    <div (click)="onExit()" class="back">
        <svg aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: rgb(34, 34, 34); height: 16px; width: 16px; stroke: rgb(34, 34, 34); stroke-width: 4; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg>
    </div>
    <span>Stats</span>
</header>
<main>
    <div [ngClass]="{droppedDown: dropdownChart}" (click)="toggleChartDropDown()" class="carType">
        <p>{{pickedTypeChart.displayedType}}<svg [ngStyle]="{'transform': !dropdownChart ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'}" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 16px; width: 16px; display: inline-block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg></p>
    </div>
    <div *ngIf="dropdownChart" class="dropdown">
        <ul>
            <li *ngFor="let type of chartTypes">
                <p [ngClass]="{'pickedType': pickedTypeChart.type === type.type}" (click)="setChartType(type)">{{type.displayedType}}</p>
            </li>
        </ul>
    </div>
    <input onkeydown="return false" id="pickedDate" (input)="setChartType(chartTypes[0])" *ngIf="pickedTypeChart.type === 'week'" type="week" [(ngModel)]="pickedWeek"/>
    <input onkeydown="return false" id="pickedWeek" (input)="setChartType(chartTypes[1])" *ngIf="pickedTypeChart.type === 'month'" type="month" [(ngModel)]="pickedMonth"/>
    <input min="0" id="pickedMonth" (input)="setChartType(chartTypes[2])" *ngIf="pickedTypeChart.type === 'year'" type="number" [(ngModel)]="pickedYear"/>
    <div id="kanvas">
        <canvas style="height: 100%; width: 100%;" id="myChart"></canvas>
    </div>

    <h2 style="text-align: center; color: rgb(34, 34, 34)">Sold tickets</h2>
    <div [ngClass]="{droppedDown: dropdownTickets}" (click)="toggleDropDownTickets()" class="carType">
        <p>{{pickedTypeTickets.displayedType}}<svg [ngStyle]="{'transform': !dropdownTickets ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'}" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 16px; width: 16px; display: inline-block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg></p>
    </div>
    <div *ngIf="dropdownTickets" class="dropdown">
        <ul>
            <li *ngFor="let type of typesTickets">
                <p [ngClass]="{'pickedType': pickedTypeTickets.type === type.type}" (click)="setTypeTickets(type)">{{type.displayedType}}</p>
            </li>
        </ul>
    </div>
    <input onkeydown="return false" (input)="setTypeTickets(typesTickets[0])" id="pickedDate" *ngIf="pickedTypeTickets.type === 'date'" type="date" [(ngModel)]="pickedDateTickets"/>
    <input onkeydown="return false" (input)="setTypeTickets(typesTickets[1])" id="pickedWeek" *ngIf="pickedTypeTickets.type === 'week'" type="week" [(ngModel)]="pickedWeekTickets"/>
    <input onkeydown="return false" (input)="setTypeTickets(typesTickets[2])" id="pickedMonth" *ngIf="pickedTypeTickets.type === 'month'" type="month" [(ngModel)]="pickedMonthTickets"/>
    <div id="kanvas">
        <canvas style="height: 100%; width: 100%;" id="myChartTickets"></canvas>
    </div>

    <div [ngClass]="{droppedDown: dropdown}" (click)="toggleDropDown()" class="carType">
        <p>{{pickedType.displayedType}}<svg [ngStyle]="{'transform': !dropdown ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'}" viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 16px; width: 16px; display: inline-block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg></p>
    </div>
    <div *ngIf="dropdown" class="dropdown">
        <ul>
            <li *ngFor="let type of types">
                <p [ngClass]="{'pickedType': pickedType.type === type.type}" (click)="setType(type)">{{type.displayedType}}</p>
            </li>
        </ul>
    </div>
    <input id="from" onkeydown="return false" type="date" [(ngModel)]="from"/>
    <input id="to" onkeydown="return false" type="date" [(ngModel)]="to"/>
    <button id="search" (click)="onSearch()">SEARCH</button>
    <ul>
        <li *ngFor="let car of cars">
            <app-car [car]="car"></app-car>
        </li>
    </ul>
    <p *ngIf="noCars">
        There is no cars for selected inputs! :-(
    </p>
</main>