<div class="separator-div">
    <hr class="seperator left">
    <span id="or">or</span>
    <hr class="seperator right">
</div>
<div class = "account-div">
    <button type="button" (click) = "LoginWithGoogle()">
        <div class="button-content">
            <img src="../../assets/gmail.png" alt="">
            <p>Continue with Gmail</p>
        </div>
    </button>
</div>
<div class = "account-div">
    <button type="button">
        <div class="button-content">
            <img src="../../assets/instagram.png" alt="">
            <p>Continue with Instagram</p>
        </div>
    </button>
</div>
<div class = "account-div">
    <button type="button" (click) = "LoginWithFacebook()">
        <div class="button-content">
            <img src="../../assets/facebook.png" alt="">
            <p>Continue with Facebook</p>
        </div>
    </button>
</div>