@import url('http://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('http://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

$purple: #3E2581;
$blue: #1C4CB2;
$light-blue: #3d9eff;
$green: #317D32;
$yellow: #E8B212;
$orange: #FF643C;
$red: #ff3d3d;
$pink: #ff3d9e;
$error: #d93900;
$error-background: #d93a0025;

$info: #8795fa;
$stats: #fa8795;
$flights: #3eb0f7;
$destinations: #fab387;

$black-shadow: 0px 3px 6px black;
$gray-shadow: 0px 3px 6px rgb(120, 120, 120);
$lightest-shadow: 0px 3px 6px rgb(200, 200, 200);
$lightest-small-shadow: 0px 2px 4px rgb(200, 200, 200);
$smallest-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
$smallest-shadow-around: 0px 0px 20px 8px rgba(0, 0, 0, 0.05);
$smallest-shadow-around2: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
$lightest-big-shadow: 4px 4px 8px rgb(200, 200, 200);

* {
    font-family: 'Montserrat', 'sans-serif';
}

.separator-div {
	margin-bottom:2em;
    text-align: center;

    .separator {
        width: 100%;
        height: 1px;
        background-color: rgb(230, 230, 230);
        border: none;
    }
}