<header>
    <div (click)="goBack()" class="back">
        <svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: block;"><path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4"></path></svg>
    </div>
    <span>My cars</span>
</header>
<ul>
    <li *ngFor="let car of previousReservations">
        <app-car [fromDate]="car.dep" [toDate]="car.ret" [carRated]="car.isCarRated" [racsRated]="car.isRACSRated" (emitRateCar)="onRateCar($event, car.carId)" (emitRateService)="onRateService($event, car.carServiceId)" [carRate]="true" [car]="car"></app-car>
    </li>
    <div class="addMore">
        <span>Upcoming reservations</span>
    </div>
    <li *ngFor="let car of upcomingReservations">
        <app-car [fromPlace]="car.from" [toPlace]="car.to" [fromDate]="car.dep" [toDate]="car.ret" [canQuit]="car.canCancel" (quitButtonClicked)="onQuitReservation($event)" [quitReservation]="true" [car]="car"></app-car>
    </li>
</ul>