<div class="content">
    <img src="../../../../assets/illustrations/undraw_aircraft_fbvl.svg">
    <button routerLink="/system-admin/{{adminId}}/register-airline">Register Airline</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_fast_car_p4cu.svg">
    <button routerLink="/system-admin/{{adminId}}/register-rac">Register Rent-A-Car Service</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_circuit_board_4c4d.svg">
    <button routerLink="/system-admin/{{adminId}}/add-system-admin">Register system admin</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_discount_d4bd.svg">
    <button routerLink="/system-admin/{{adminId}}/configure-discounts">Configure discounts</button>
</div>
<div class="content">
    <img src="../../../../assets/illustrations/undraw_profile_pic_ic5t.svg">
    <button routerLink="/system-admin/{{adminId}}/profile/edit-profile">Edit profile</button>
</div>