<div class="drive-container" *ngIf="option === 'drive'">
    <h1>Find your flight here!</h1>
    <img id="next" src="../../../assets/next.png" alt="">
    <a (click)="onRedirect('fly')"><img id="airplane" src="../../../assets/airplane-icon.svg" alt=""></a>
</div>
<div class="fly-container" *ngIf="option === 'fly'">
    <h1>Find your car here!</h1>
    <img id="next" src="../../../assets/next.png" alt="">
    <a (click)="onRedirect('drive')"><img id="car" src="../../../assets/car-icon.svg"></a>
</div>
