<!-- <header>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li><img src="../../assets/round_logo.png" alt=""></li>
        <li><p>SKYROAD</p></li>
        <li><a href="#" class="show-desktop">Become a Host</a></li>
        <li><a href="#" routerLink="/signup">Sign up</a></li>
        <li><a href="#" routerLink="/signin">Sign in</a></li>
      </ul>
    </nav>
  </div>
  <div class="separator-div">
    <hr class="separator">
</div>
</header>  -->
<header>
  <div class="container">
    <nav>
      <ul>
        <li><a id="signup" href="#" routerLink='/signup'>Sign up</a></li>
        <li><a id="signin" href="#" routerLink='/signin'>Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
  