<header *ngIf="formOk">
    <nav>
        <img (click)="onBack()" src="../../../../assets/back.png">
        <span>Profile</span>
        <div *ngIf="decoded.Roles === 'RegularUser'" class="bonus">
            <img src="../../../../assets/icons8-coins-16.png">
            <span id="bonus">{{user.bonus}}</span>
        </div>
    </nav>
</header>
<main *ngIf="formOk">
    <div class="personal-info">
        <h4>Personal info</h4>
    </div>
    <div class="container">
        <div *ngIf="img && selectedFile === undefined" id="image">
            <img id="logo" [src]="img">
        </div>
        <div *ngIf="selectedFile !== undefined" id="image">
            <img id="logo" src="{{selectedFile.src}}">
        </div>
        <input style="display: none" type="file" accept="image/*" (change)="onFileChanged(fileInput)" #fileInput>
        <button id="changePhoto" (click)="fileInput.click()"><img src="../../../../assets/camera-100.png">Change photo</button>
        <span id="spanfirstname">First name:</span>
        <p id="firstname">{{user.firstName}}</p>
        <span id="spanlastname">Last name:</span>
        <p id="lastname"> {{user.lastName}}</p>
        <span id="spanphone">E-mail:</span>
        <p id="phone">{{user.email}}</p>
        <a id="edit" routerLink='/{{userId}}/profile/edit-profile'><img src="../../../../assets/create-white-18dp.svg">Edit profile</a>
    </div>
    <div *ngIf="decoded.Roles === 'RegularUser'" class="separator-div" style="margin: 0 30px;">
        <hr class="separator">
    </div>
    <div *ngIf="decoded.Roles === 'RegularUser'" class="friends">
        <h4>My friends</h4>
        <a routerLink='/{{userId}}/profile/friends'>Check all</a>
    </div>
    <ul *ngIf="decoded.Roles === 'RegularUser'">
        <li class="friends-avatar" style="background-image: url('../../../../../../assets/friend1.jpeg')"></li>
        <li class="friends-avatar" style="background-image: url('../../../../../../assets/friend2.jpeg')"></li>
        <li class="friends-avatar" style="background-image: url('../../../../../../assets/friend3.jpeg')"></li>
        <li class="friends-avatar" style="background-image: none; background-color: #FF643C;">
            <!-- <img src="../../../../assets/add-white-18dp.svg" alt=""> -->
            <div class="plus" routerLink='/{{userId}}/profile/friends'>+</div>
        </li>
    </ul>
    <div class="separator-div" style="margin: 0 30px;">
        <hr class="separator">
    </div>
    <div *ngIf="decoded.Roles === 'RegularUser'" class="points">
        <a href="#" routerLink='/{{userId}}/profile/flights'>My flights<img src="../../../../assets/icons8-airplane-landing-50.png"></a>
        <a href="#" routerLink='/{{userId}}/profile/cars'>My cars<img src="../../../../assets/icons8-car-50.png"></a>
        <p>So far you've collect <img src="../../../../assets/icons8-coins-16.png"> <span>{{user.bonus}}</span> bonus points!</p>
        <br>
    </div>
    <button (click)="onSignOut()">SIGN OUT</button>
</main>
<app-footer></app-footer>