@import '../../../../scss/layout/header';
@import '../../../../scss/layout/footer';
@import '../../../../scss/elements/steps';
@import '../../../../scss/elements/inputs';

* {
    box-sizing: border-box;
}

header {
    @extend %container-top;
    display: grid;
    grid-template-columns: 44px auto 44px;
    text-align: center;

    .back {
        @extend %header-back;

        svg {
            @extend %header-svg;
        }
    }

    span {
        @extend %header-span;
    }
}

main {
    padding: 94px 24px 64px 24px;
    min-height: 100vh;

    .content {
        border-bottom: 1px solid rgb(234, 234, 234);
        padding: 16px 0;
        margin: 0;

        p {
            margin-left: 5px;
            display: inline-block;
            position: relative;
        }

        .required::before{
            content: "*";
            position: absolute;
            top: 0; right: -10px;
            color: $red;
        }

        input {
            width: 100%;
            height: 32px;
            font-size: 16px;
            padding: 8px 15px 8px 10px;
            border: 1px solid rgb(234, 234, 234);
            border-radius: 5px;
            color: rgb(34, 34, 34);
            font-weight: bold;
            margin-top: 3px;
        }

        
        :focus {
            @extend %focus;
        }

        .error-input {
            @extend %error-input;
            border: 2px solid $error;
        }

        .error {
            @extend %error-text;
            margin-bottom: 0px;
            font-size: 14px;
        }
    }
    p {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
    button {
        display: block;
        width: calc(100% - 48px);
        margin: 10px 0;
        height: 44px;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #222222;
        position: fixed;
        bottom: 0;
        border: none;
        outline: none;
        border-radius: 10px;
    }

    :focus {
        outline: none;
    }
}
footer {
    @extend %container;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    padding: 10px 24px;

    button {
        text-decoration: none;
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: rgb(34, 34, 34);
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        padding: 12px 0;
    }

    :focus {
        border: none;
        outline: none;
    }
}