<div class="app">
    <div class="full hide-scroll">
        <ul id="ul" class="hs">
            <li id="li-airline">
                <div style="background-color: white; border: 2px solid rgb(234, 234, 234);" class="item">
                    <div style="background-color: white;" class="header">
                        <p style="color: rgb(34, 34, 34);">Airline</p>
                    </div>
                    <!-- <div class="container">
                        <app-map [home]="home" [latitude] = 'airline.address.lat' [longitude] = 'airline.address.lon'></app-map>
                        <div class="info">
                            <p id="location" style="color: rgb(34, 34, 34);">{{airline.address.state}} · {{airline.address.city}}</p>
                            <p id="name" style="color: rgb(34, 34, 34);"><img src="../../../../assets/turkish_airlines_logo.png">{{airline.name}}</p>
                            <ul>
                                <li *ngFor="let item of airline.promoDescription">
                                    <p style="color: rgb(34, 34, 34);">{{item}}</p>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div style="background-color: white;" class="footer">
                        <a style="color: rgb(34, 34, 34);" routerLink='/admin/{{adminId}}/airline-profile'>Edit<img style="filter: opacity(.8);" src="../../../../assets/bold_arrow.svg"></a>
                    </div>
                </div>
            </li>
            <li id="li-stats">
                <div style="background-color: #8795fa;" class="item">
                    <div style="background-color: #8795fa;" class="header">
                        <p>Stats</p>
                    </div>
                    <div style="background-color: #8795fa;" class="footer">
                        <a href="#" routerLink="/admin/{{adminId}}/stats">Check all<img src="../../../../assets/bold_arrow_Lobe.svg"></a>
                    </div>
                </div>
            </li>
            <li id="li-flights">
                <div style="background-color: #fa8795;" class="item">
                    <div style="background-color: #fa8795;" class="header">
                        <p>Flights</p>
                    </div>
                    <div style="background-color: #fa8795;" class="footer">
                        <a href="#" routerLink="/admin/{{adminId}}/flights">Check all<img src="../../../../assets/bold_arrow_Lobe.svg"></a>
                    </div>
                </div>
            </li>
            <li id="li-destinations">
                <div style="background-color: #fab387;" class="item">
                    <div style="background-color: #fab387;" class="header">
                        <p>Destinations</p>
                    </div>
                    <!-- <div class="container">
                        <ul>
                            <li *ngFor="let destination of airline.flightDestionations | slice:0:6">
                                <app-airline-destination [destination]="destination" [editable]="false"></app-airline-destination>
                            </li>
                        </ul>
                    </div> -->
                    <div style="background-color: #fab387;" class="footer">
                        <a href="#" routerLink="/admin/{{adminId}}/destinations">Check all<img src="../../../../assets/bold_arrow_Lobe.svg"></a>
                    </div>
                </div>
            </li>
            <li id="li-specials">
                <div style="background-color: #8795fa;" class="item">
                    <div style="background-color: #8795fa;" class="header">
                        <p>Special offers</p>
                    </div>
                    <div style="background-color: #8795fa;" class="footer">
                        <a routerLink="/admin/{{adminId}}/special-offers">Check all<img src="../../../../assets/bold_arrow_Lobe.svg"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-bottom-menu *ngIf="isOk" [userId]="adminId"></app-bottom-menu>